<div class="list-group">
    <a href="/src/app/destinos/destinos.component.html" class="list-group-item list-group-item-action" style="background-color: rgb(248, 153, 217);">
      Mi país
    </a>
    <a href="" class="list-group-item list-group-item-action" style="background-color: rgb(248, 153, 217);">Patagonia</a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color: rgb(248, 153, 217);">Noroeste</a>
    <a href="#" class="list-group-item list-group-item-action" style="background-color: rgb(248, 153, 217);">Mesopotamia</a>
  </div>